main {
    background-image: url(https://cdn.pixabay.com/photo/2017/06/04/18/14/marble-2371776_1280.jpg);
}

nav, footer, caption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-variant: small-caps;
}

img {
    display: inline-flex;
    
    /* float: left; */
    padding-right: 15px;
}


img.about-me {
  display: inline-flex;
  
  float: left;
  padding-right: 15px;
}

p {
    padding-left: 17px;
}

.card {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-header {
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    color: #413a5d;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7b6f92;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container {
    position: relative;
    display: inline-block;
  }

    .caption {
        position: absolute;
        top: 67%;
        width: 260px;
        margin-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background-color: #413a5d;
        color: white;
    }

    .caption2 {
        position: absolute;
        top: 67%;
        width: 260px;
        margin-left: 325px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background-color: #413a5d;
        color: white;
    }

   

      a.port-link:hover {
        color:white;
        background-color: transparent;
        /* text-decoration: underline; */
      }

      a.port-link:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }

      a.port-link:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }

    